@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-internal-1dauvpw {
  display: none;
}

.cl-internal-1hp5nqm {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}